body{
	margin: 0;
	background: #888;
}
a {
	text-decoration: none;
}
.clear{
	clear: both;
}
* {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* Header Styles */
#header{
	background: #444;
}
#header h1 {
	color: #eee;
	margin: 0;
	padding: 10px;
	float: left;
}

/* Episodes Styles */
#episodes {
	overflow: hidden;
	clear: both;
	float:left;
	margin-right: 10px;
	box-shadow: 0 6px 6px rgba(0,0,0,0.6);
}

/* Controller Styles */
#controller{
	margin: 0 10px 0 10px;
	width: auto;
	overflow: hidden;
}
#timeline, #hosts, #guests {
	background: #555;
	box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	padding: 10px 10px 38px 10px;
	margin-top: 10px;
}
#hosts-title, #guests-title {
	margin: 0;
	font-size: 0.7em;
	text-shadow: 1px 1px 0 black;
	color: #888;
	font-size: 13pt;
	margin-bottom: 10px;
}
#hosts, #guests {
	padding: 10px;
}
.host, .guest {
	padding: 3px;
	background: #fff;
	border-style: solid;
	border-width: 1px;
	border-color: #fff;
	width: 50px;
	display: inline-block;
	vertical-align: bottom;
	margin-right: 5px;
}
iframe {
	height: 400px;
	margin-top: 10px;
	width: 100%;
	display: block;
}
#discussion {
	display: inline-block;
	float: right;
	border: 1px solid #aaa;
	padding: 5px 10px;
	text-align: center;
	background: #444;
	color: #aaa;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}
#discussion:hover {
	background: #aaa;
	color: #444;
}

/* Episode Tile Styles */
.episode{
	background: url('../img/background.jpg');
	border: 1px solid #333;
	border-top: 1px solid #555;
	color: #888;
	padding: 0px 35px;
	font-size: 13pt;
}
.episode:hover, .active{
	background: url('../img/background-h.jpg');
	color: #999;
	border-top: 1px solid #333;
}
.episode h3{
	text-align: center;
	margin: 0;
	padding: 10px 0;
	font-size: 0.7em;
	text-shadow: 1px 1px 0 black;
}

/* Timeline Styles */
#line{
	height: 35px;
}
#topic{
	height: 100%;
	float: left;
	border-radius: 4px;
	background: #333;
	box-sizing: border-box;
	border-right: 1px solid #555;
	border-top: 1px solid #666;
	border-bottom: 1px solid #222;
	position: relative;
}
#topic:hover{
	background: #444;
}
.tooltip{
	width: 300px;
	padding: 3px;
	border-radius: 4px;
	background: black;
	position: absolute;
	top: 40px;
	text-align: center;
	left: -5px;
	display: none;
}
.tooltip .triangle{
	position: absolute;
	top: -10px;
	height: 0;
	width: 1px;
	border: 5px solid black;
	border-color: transparent transparent black transparent;
}
.tooltip span{
	color: white;
	font-size: 0.8em;
}
.right{
	left: -290px;
}
.right .triangle{
	left: 292px;
}
.no-timeline {
	color: #aaa;
	margin: 0;
}