body{
	margin: 0;
	background: #444;
}
a {
	text-decoration: none;
}

/* Episodes Styles */
#episodes {
	width: 220px;
	overflow: hidden;
	clear: both;
	float:left;
	margin-right: 10px;
}

/* Controller Styles */
#controller{
	height: 855px;
	margin: 0 10px 0 10px;
	width: auto;
	overflow: hidden;
}
#title, #video-player, #timeline{
	background: #555;
	box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	padding: 10px;
	margin-top: 10px;
}
#title h1{
	margin: 0;
}
#video-player iframe {
	width: 100%;
}

/* Episode Tile Styles */
.episode{
	background: url('../img/background.jpg');
	border: 1px solid #333;
	border-top: 1px solid #555;
	color: #888;
}
.episode:hover{
	background: url('../img/background-h.jpg');
	color: #999;
}
.episode h3{
	text-align: center;
	margin: 0;
	padding: 10px 0;
	font-family: verdana;
	font-size: 0.7em;
	text-shadow: 1px 1px 0 black;
}

/* Timeline Styles */
#line{
	height: 35px;
}
.topic{
	height: 100%;
	float: left;
	border-radius: 4px;
	background: #333;
}
.topic:hover{
	background: #444;
}