body{
	margin: 0;
	background: #444;
}
a:link {
	color:#888;
}
.clear{
	clear: both;
}
#header{
	height: 25%;
	height: 40px;
	padding: 30px;
	background: #333;
}
#header h1{
	margin: 0;
	color: white;
}
#episodes { width: 15%; clear: both; float:left; box-shadow: 0 -10px 5px black inset}
#episodes .viewport { width: 300px; overflow: hidden; position: relative; }
#episodes .overview { list-style: none; position: absolute; left: 0; top: 0; }
#episodes .scrollbar { position: relative; float: right; width: 15px; }
#episodes .track { height: 100%; width:13px; position: relative; padding: 0 1px; }
#episodes .thumb { z-index: 2; background: rgba(20,20,20,0.3); border-radius: 5px; left: -15px; height: 20px; width: 12px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
#episodes .thumb .end { overflow: hidden; height: 5px; width: 13px; }
#episodes .disable{ display: none; }
.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }

/* Controller Styles */
#controller{
	float: left;
	height: 855px;
	margin: 10px 1% 10px 1%;
	width: 83%;
}
#title{
	background: white;
	padding: 15px 1%;
	width: 98%;
	box-shadow: 0 1px 3px rgba(34,25,25,0.4);
}
#title h1{
	margin: 0;
}
#videos{
	width: 100%;
}
#timeline{
	width: 98%;
	padding: 1%;
	background: white;
	margin-top: 10px;
	box-shadow: 0 1px 3px rgba(34,25,25,0.4);
}
.video-player{
	height: 315px;
	width: 560px;
	background: white;
	margin: 10px 1% 0 0;
	padding: 10px;
	float: left;
	box-shadow: 0 1px 3px rgba(34,25,25,0.4);
}

/* Episode Tile Styles */

.episode{
	width: 100%;
	background: url('../img/background.jpg');
	border-bottom: 1px solid #333;
	border-top: 1px solid #555;
	border-right: 1px solid #333;
	color: #888;
}
.episode:hover{
	background: url('../img/background-h.jpg');
	color: #999;
}
.episode h3{
	text-align: center;
	margin: 0;
	padding: 10px 0;
	font-family: verdana;
	font-size: 0.7em;
	text-shadow: 1px 1px 0 black;
	text-decoration: none;
}
