#image {
	max-height: 100%;
	padding: 10px;
	background: #333;
	float: left;
	text-align: center;
}
#person-image {
	width: 320px;
	max-width: 100%;
	vertical-align: top;
}
#details {
	overflow: auto;
	padding-left: 20px;
}
#overview, #social-icons, #youtube_videos {
	padding: 10px;
	background: #BB4D3E;
}
.detail-header {
	display: block;
	margin-bottom: 10px;
}
#person-overview {
	margin: 0;
}
#social-icons, #youtube_videos {
	margin-top: 20px;
}
#social-icons {
	padding: 10px 0 0 10px;
}
#social-icons a {
	margin: 0 10px 10px 0;
	display: inline-block;
}
#social-icons img {
	vertical-align: top;
}
#container {
	overflow: hidden;
}
@media all and (max-width: 1024px) {
	#image, #details {
		width: 100%;
	}
	#image {
		text-align: center;
	}
	#details {
		padding: 20px 0px 0px 0px;
	}
}