# Ignore common cruft
.DS_Store
.idea
coverage
Thumbs.db

# Ignore deployer files
deploy.php
deployer.phar

# Ignore development artifacts
.vscode/*
node_modules/*
sql/data.sql
public/js/*
*.log