RewriteEngine On
Options All -Indexes

# navigation
RewriteCond %{REQUEST_URI} ^(.*)/e\/(\d+\.?\d*)$
RewriteRule ^e\/(\d+\.?\d*)$ %1/episode/$1 [R=301,L]
RewriteRule ^episode\/(\d+\.?\d*)$ index.php?episode=$1 [QSA]

RewriteRule ^(e|episode)\/random$ index.php?episode=random [QSA]

RewriteCond %{REQUEST_URI} ^(.*)/p\/([0-9]+)$
RewriteRule ^p\/([0-9]+)$ %1/person/$1 [R=301,L]
RewriteRule ^person\/([0-9]+)$ person.php?person=$1 [QSA]

RewriteRule ^credits$ credits.php [QSA]
RewriteRule ^feedback$ feedback.php [QSA]

# error pages
ErrorDocument 404 /404.php

# search engines
RewriteRule ^robots.txt$ robots.php
RewriteRule ^opensearchdescription.xml$ opensearchdescription.php
RewriteRule ^sitemap.xml$ sitemap.php

# icons
RewriteRule ^(favicon(-[\d]*x[\d]*){0,1}\.(ico|png))$ img/favicons/$1 [PT]
RewriteRule ^(mstile(-[\d]*x[\d]*)\.png)$ img/favicons/$1 [PT]
RewriteRule ^(apple-touch-icon(-[\d]*x[\d]*){0,1}(-precomposed){0,1}\.png)$ img/favicons/$1 [PT]

RewriteRule ^content$ content.php [QSA]