RewriteEngine On
RewriteBase /

# icons
RewriteRule ^(favicon(-[\d]*x[\d]*){0,1}\.(ico|png))$ img/favicons/$1 [PT]
RewriteRule ^(mstile(-[\d]*x[\d]*)\.png)$ img/favicons/$1 [PT]
RewriteRule ^(apple-touch-icon(-[\d]*x[\d]*){0,1}(-precomposed){0,1}\.png)$ img/favicons/$1 [PT]

# f3
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule .* index.php [L,QSA]